.footer-styling {
  background: white;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: left;
  z-index: 99999;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 4px 4px 5px black;
}

.header-logo {
  width: 50px;
  margin-right: 5%;
}

.header-icons {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-text {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10px;
  color: grey;
  font-family: "Raleway", sans-serif;
}

.imagehomepage {
  width: 200px;
  height: auto;
  margin-right: 50px;
  box-shadow: 2px 2px 2px black;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .subheader {
    flex-direction: column;
  }
  .imagehomepage {
    margin-bottom: 50px;
  }
}
