body {
  margin-top: 20vh;
  background: #385a5a;
  background-size: cover;
}

header {
  text-align: center;
  margin-top: 3vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

footer {
  background: whitesmoke;
  padding: 4px;
  font-family: sans-serif;
  border-radius: 5px;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 5vw;
  color: white;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Cinzel', serif;
  font-size: 2.5vw;
  padding: 10px;
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  font-size: 10px;
}

button {
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
  padding: 10px;
  margin: 2px;
}

.image {
  width: 70%;
  height: auto;
  margin: 20px;
  box-shadow: 5px 5px 5px grey;
}

.imagehomepage {
  width: 30vw;
  height: auto;
  margin: 2%;
  box-shadow: 2px 2px 2px black;
}

.imageportfolio {
  height: auto;
  box-shadow: 2px 2px 2px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.slideshowbackground {
  background: #626262;
}

.caption-background {
  background: black;
  opacity: 0.7;
  display: block;
  margin: auto;
  width: 50%;
}

.caption-button {
  width: 50%;
  border-radius: 5px;
  box-shadow: none;
  padding: 2px;
  font-size: 10px;
}

.caption-font {
  color: white;
  font-size: 10px;
}

.logoimages {
  background: black;
  width: 150px;
  height: auto;
  margin: 15px;
  box-shadow: 5px 5px 5px grey;
}

.imagewebpage {
  width: 30vw;
  height: auto;
  box-shadow: 5px 5px 5px grey;
}

.resumeimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li, ul {
  color: black;
  text-align: left;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: whitesmoke;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  border-radius: 5px;
}

.homepagessection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: whitesmoke;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  border-radius: 5px;
}

article {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.navbar {
  display: flex;
  justify-content: left;
  z-index: 99999;
  overflow: hidden;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 4px 4px 5px black;
}

.navbar a {
  float: left;
  display: block;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin: 2px;
}

.fa-github {
  background: black;
  color: white;
  margin: 2px;
}

.fa:hover {
  background: grey;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
}

.portfoliosection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}