figcaption {
    color: white;
    padding: 10px;
}

body {
  background-color: darkgrey;
  border-radius: 15px;
  padding-top: 35px;
}

header {
  text-align: center;
  font-family: fantasy;
  padding: 10px;
  background: white;
}

footer {
    text-align: center;
    font-family: fantasy;
    background: white;
}

h1,h2 {
    color: black;
}

h3 {
  padding: 10px;
  color:white;
}

p {
  padding:10px;
  color: whitesmoke;
}

.image {
  width: 70%;
  height: auto;
  margin: 20px;
  box-shadow: 10px 10px 5px black;
}

.imagehomepage {
    width: 100%;
    height: auto;
    margin: 10%;
    border: 1px solid black;
    box-shadow: 10px 10px 5px black;
}

.imagehelio {
    background: black;
    width: 100%;
    height: auto;
    margin: 10%;
    border: 1px solid black;
}

.imagenamebadge {
    width: 40vw;
    height: auto;
    box-shadow: 10px 10px 5px black;
}

.imagewebpage{
    width: 50vw;
    height: auto;
    box-shadow: 10px 10px 5px black;
}

.resizedtextbox {
    width: 50%;
    border: 1px solid white;
}

a {
    text-decoration: none;
    color: black;
}


li, ul {
    color: white;
    text-align: left;
}

button {
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
    border-radius: 15px;
    color: black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 5px 5px 5px black;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  background: #575557;
}


form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

article {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}


.navbar {
  z-index: 99999;
  overflow: hidden;
  background-color: #55ACEE;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4px 4px 5px black;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: lightgrey;
    color: white;
}

.footericons {
    display: flex;
    justify-content: flex-end;
}


label {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}


.nbmain {
    height: auto;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    background: white;
}

.nbsection {
    text-align: center;
    background: red;
    border: 1px solid black;
    color: white;
    width: 260px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nbarticle {
    text-align: center;
    background: red;
    color: white;
    border: 1px solid black;
    width: 300px;
    height: auto;
    border-radius: 20px;
}
